* {
  box-sizing: border-box;
}

main {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  background-color: #6b747f;
  padding: 30px;
  color: #141d27;
}

header {
  background-color: #141d27;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Odibee Sans", cursive;
  font-weight: bolder;
  color: #6b747f;
  font-size: 2.5em;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.rep-search > p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}

body {
  background-color: #6b747f;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bolder;
}

input[type="text"] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-bottom: 15px;
}

.rep-results {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.reps {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid gray; */
  background-color: #505964;
  color: #141d27;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

.full-name {
  margin: 10px;
}

.photo {
  margin-bottom: 30px;
}

li.phone {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.question-screen {
  font-size: 0.8em;
}

input[type="radio"] {
  margin: 10px;
}

.start {
  margin: 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #141d27;
  color: #6b747f;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #141d27;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid white; /* Light grey */
  border-top: 16px solid black; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  .rep-results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
  }
}
